<div class="position-sticky top-0">
     <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Library System</span>
          </a>

          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2" [routerLink]="['/view-all-users']">Viwe All Users</a></li>
            <li><a href="#" class="nav-link px-2" [routerLink]="['/view-all-book']">Viwe All Book</a></li>
            <li><a href="#" class="nav-link px-2">FAQs</a></li>
            <li><a href="#" class="nav-link px-2">About</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2" [routerLink]="['/login']">Log Out</button>
          </div>
        </div>
      </div>

   </div>

   

  

  